body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.ul-tp li {
  background-color: #454545;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0px;
  padding-left: 27px;
}

.ul-tp li button {
  background-color: #f15757;
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
}
.feita {
  background-color: rgb(94 233 94) !important;
}
.flex {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}
